p{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
color: blue;}
ul li{ font-style: italic;    }
ol li { font-weight: bold;    }
h3{ text-decoration: underline;}
h2{ text-align: center;    }
h1{text-shadow: 1px 2px pink;}
body{ background-color: beige;}
body{
    /*background-color:rgba(209,82,9,0,1);*/
    background-color: linear-gradiant(45deg,#e66465, #9198e5);}
    hgroup{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: azure;
        border: 2px solid blue;
    }
    div{
        background-color: yellow;
    }
    span{
        text-decoration: underline;

    }
ol,ul,p{text-indent: 5%;}
*{text-transform: uppercase;}